<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/idees.css" />
    <script type="text/javascript" src="{{ URL::asset('js/idees.js') }}"></script>
    <title>Idées innovantes</title>
</head>

<body>
    <%- include('partials/header') %>
    <section id="about">
        <div class="about container">
          <div class="col-right">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="chercher une idée" title="Type in a name"><br><br><br>
            <h1 class="section-title" style="text-align: center;">Idées <span>Innovantes</span></h1><br><br><br>
            <div id="all_data">
              <% ideas.forEach(function(idea){ %>
                <table class="idea_table">
                  <tr class="description_box">
                      <th class="titre_box" colspan="3"><span>Titre:</span> <%= idea.title %> </th>
  
                  </tr>
                  <tr class="descrip">
                    <th class="username_box"><span>Publié par:</span> <%= idea.user %> </th>
                  </tr>
                  <tr>
                    <td bgcolor="#FFFFFF" colspan="3">&nbsp;</td>
                  </tr>
                  <tr class=idea_container>
                    <td class="idee_box" colspan="3"> <%= idea.idee %> </td>
                  </tr>
              </table>
              <% }) %>
            </div>
          <script>
function myFunction() {
  var input, filter, div, table, tr, td, i, j, k, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("all_data");
  table = div.getElementsByTagName("table");
  for (j = 0; j <table.length;j++) {
    tr = table[j].getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      for(k = 0; k < 5; k++){
        td = tr[i].getElementsByTagName("td")[k];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            table[j].style.display = "";
          } else {
            table[j].style.display = "none";
          }
        }
      }
    }
  }
}
</script>
          </div>
          </div>
    </section>
      <%- include('partials/footer') %>
</body>

</html>
